body {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, wheat, cornsilk);
}


h1 {
    text-align: center;
    font-family: Garamond, serif;
}


h2 {
    text-align: center;
    font-family: Garamond, serif;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
    font-family: Garamond, serif;
}

.col-md-4 {
    background-color: rgb(193, 154, 107);
}


a{
    font-size: 20px;
    text-transform: uppercase;
    font-family: Garamond, serif;
}


.nav-area:after {
    content: "";
    clear: both;
    display: block;
}


.nav-area ul {
    list-style: none;
    margin: 0;
}

.nav-area > ul > li {
    float: left;
    position: relative;
}

.nav-area  ul  li a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.nav-area ul li:hover a {
    background:  burlywood;
}

.nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-area ul li:hover > ul {
    display: block;
}

.nav-area ul ul li:hover a {
    background: pink;
}

button {
    background-color: pink;
}